root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,cpp,h,hpp,java,php,rb}]
indent_size = 2
indent_style = space

[*.php]
tab_width = 2

[*.sql]
tab_width = 3
